<nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link p-3 ml-2 mr-2" href="#">Book Jungle </a>
    </li>
    <li class="nav-item">
      <a class="nav-link w-50 p-3" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link w-50 p-3" href="#">Reviews</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link w-100 p-3">Add Book</a>
    </li>
  </ul>

  <div *ngIf='loggedIn()'> 
    <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="logOut()">Log Out</button>
  </div>

  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" placeholder="Username"
       name="username" required [(ngModel)] ="model.username">
    <input type="password" class="form-control mr-sm-2" placeholder="Password"
       name="password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Log In</button> | 
    <button class="btn btn-danger my-2 my-sm-0 " (click)="registerToggle()">Register</button>
  </form>
</nav>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
    