<div class="container">
  <div class="row mt-3 p-2">
    <div class="col-sm-4 text-center">
      <img class="thumbnail" src="../assets/img/star.png" alt="star">  
      <br />
     New Releases
    </div>
    <div class="col-sm-4 text-center">
        <img class="thumbnail" src="../assets/img/top.png" alt="star">  
        <br />
        Best Seller
    </div>
    <div class="col-sm-4 text-center">
        <img class="thumbnail" src="../assets/img/ComingSoon.png" alt="star">  
        <p>Coming Soon</p>
    </div>
  </div>
</div>